/* Principal */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* Manejo de fuentes instalada localmente */
/*@import url('./fonts/FasterOne-Regular.ttf');*/
@font-face {
    font-family: 'Faster One';
    src: url('./fonts/FasterOne-Regular.ttf');
}

.fasterOne {
    font-family: 'Faster One', cursive;
    font-size: 60px;
    text-align: center;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    background: rgb(250,249,251);
    background: linear-gradient(90deg, rgba(250,249,251,1) 0%, rgba(253,135,29,1) 100%);
}

.img-circle-logo {
    background: rgb(240, 163, 56, 0.7);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    filter: drop-shadow(20px  20px 20px #333 );
    z-index: 1;   /* ordena los elementos por acoplamiento */
}

.img-circle-staff {
    background: rgb(240, 163, 56, 0.7);
    border-radius: 50%;
    filter: drop-shadow(20px  20px 20px #333 );
    object-fit: cover;
    filter: grayscale(100%);
}

.img-circle-staff:hover{
    filter: grayscale(0%) ;
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: 3s;
}

/* para manejar la primera caja */
.caja1 {     
    color: darkkhaki;
    border:3px solid brown;
    border-radius: 22px;
    background-color: rgb(255, 127, 210); /*no lo obedece*/
    background: linear-gradient(360deg, rgba(253,135,29,1) 0%, rgba(92, 2, 2)100%);
    text-align: center;
    padding-top : 5px;
    padding-bottom : 15px;
}

.sombra {
    box-shadow: 10px 10px 20px #333;
}

.espacio {
    padding-left: 15px;
}

.titulo-fondo {
    background-color:  #C60808;
    height: 9rem;
    padding-top: 1rem;
}

.titulo-fondo-color-blanco {
    color: #fff;
}

hr {
    border-top: 15px linear-gradient(360deg, rgba(253,135,29,1) 0%, rgba(92, 2, 2)100%);
}

.titulo-centrado-vertical {
    display: flex;
    align-items: center;
    min-height: 10vh;
    font-size: 40px;
}

.texto-copywrite {
    font-size: 80%;
    color : #585656;
}
